//
//** Demo Config
//

//== Secondary brand color
$m-secondary-brand-color: #db1430;
$m-secondary-brand-inverse-color: #FFF;

//== Layout Shared Settings
$m-aside-left-width: 200px;
$m-aside-left-width-minimize: 60px;
$m-aside-left-offcanvas-width: 200px;